body {
    background-color: #4b2b8b;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
    color: white;
}

.registration-container {
    display: flex;
    width: 100%;
    max-width: 1000px;
    background-color: #3b3c3e;
    border-radius: 10px;
    overflow: hidden ;
}

.form-section {
    background-color: #3b3c3e;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-section form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.form-section input, .form-section select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #d4d4d4;
    color: #000;
}

.button {
    background-color: #4b2b8b;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    flex-direction: row;
}

.button:hover {
    background-color: #3b1f6e;
}

.info-section {
    background-color: #d4af37;
    padding: 20px;
    margin: 20px;
    border-radius: 24px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info-section img {
    max-width: 250px;
    margin-bottom: 20px;
}
